page-onboarding {
    .background {
        //background-image: url('../assets/pict/welcome.png');
        background-color: #EC2F38;
        background-repeat: no-repeat;
        background-size: cover;
    }

    ion-slides {
        display: block;
        width: 100%;
        height: 90%;
    }

    .swiper-pagination-bullet-active{
        background: white;
        opacity: 1;
    }

    .LogoMuser {
        width:50vw; /* you can use % */
        height: auto;

        position: relative;
        bottom: 10vh;
    }

    .GambarSplash {
        width:70vw; /* you can use % */
        height: auto;

        margin: auto;
    }

    .WordSplash {
        width:100vw; /* you can use % */
        height: auto;

        margin: auto;
    }

    img {
        position: relative;
        
    }

    .ButtonWordWhite {
        font-size: 6vw;
        font-weight: 2px;
        color: #ecf0f1;
        text-transform: capitalize;
    }
    .ButtonWordWhiteSmall {
        font-size: 4vw;
        font-weight: 2px;
        color: #ecf0f1;
    }
    .ButtonLewati {
        height: 8vw !important;
    }
    .ButtonMasuk {
        height: 10vw !important;
        border-width: 2px;
        border-color: white;
        background-color: #3498db;
    }
    .ButtonLogin {
        height: 10vw !important;
        width: 50vw;
        margin: auto;
    }

    .TitleOnBoarding {
        font-weight: 700;
        font-size: 6vw;
        color : #141414;
    }

    .ExplanationOnBoarding {
        
        font-size: 4vw;
        color : #141414;
    }

    // div {
    //     width: 50vw;
    //     margin-left: auto !important;
    //     margin-right: auto !important;
    // }
}
