<ion-header>
  <ion-navbar color="muserYellow">
    <button ion-button menuToggle>
      <ion-icon name="menu" color="muserBlack"></ion-icon>
    </button>
    <ion-title text-right><span class="wordNavbar">Home</span></ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="background">
  
  <ion-slides pager>

    <ion-slide>
      <img class="slide-image" src="http://156.67.218.250:81{{slide1}}"/>
    </ion-slide>

    <ion-slide>
      <img class="slide-image" src="http://156.67.218.250:81{{slide2}}"/>
    </ion-slide>

    <ion-slide>
      <img class="slide-image" src="http://156.67.218.250:81{{slide3}}"/>
    </ion-slide>

  </ion-slides>


  <ion-grid>
    <ion-row class="rowHeight">
      <ion-col col-4>
        <button class="ButtonGenre" clear ion-button (click)="openX()" block><p class="ButtonWord">Action</p></button>
      </ion-col>
      <ion-col col-4>
        <button class="borderCenter" clear ion-button (click)="openX()" block><p class="ButtonWord">Commedy</p></button>
      </ion-col>
      <ion-col col-4>
        <button class="ButtonGenre" clear ion-button (click)="openX()" block><p class="ButtonWord">Drama</p></button>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid no-padding>
    <ion-row *ngFor="let data of video" no-padding class="rowHeightVideo">
      <ion-col no-padding col-12>
        <img (click)="gotoVideo(data)" class="content-imageBig" src="http://156.67.218.250:81{{data.picture}}"/>
      </ion-col>
    </ion-row>
  </ion-grid>


  <!-- <ion-grid no-padding>

      <div *ngFor="let data of video">
        <div  *ngIf="data.id%2==0">
          <ion-row no-padding class="rowHeight">
            <ion-col no-padding col-8>
              <img class="content-imageBig" src="http://156.67.218.250:81{{data.picture}}"/>
            </ion-col>
            <ion-col no-padding col-4>
              <ion-row no-padding>
                <ion-col no-padding>
                    <img class="content-imageSmall" src="http://156.67.218.250:81{{data.picture}}"/>
                </ion-col>
              </ion-row>
              <ion-row no-padding>
                  <ion-col no-padding>
                      <img class="content-imageSmall" src="http://156.67.218.250:81{{data.picture}}"/>
                  </ion-col>
                </ion-row>
            </ion-col>
          </ion-row>
        </div>
        <div *ngIf="data.id%2!=0">
          <ion-row no-padding class="rowHeight">
            <ion-col no-padding col-4>
              <ion-row no-padding>
                <ion-col no-padding>
                    <img class="content-imageSmall" src="http://156.67.218.250:81{{data.picture}}"/>
                </ion-col>
              </ion-row>
              <ion-row no-padding>
                  <ion-col no-padding>
                      <img class="content-imageSmall" src="http://156.67.218.250:81{{data.picture}}"/>
                  </ion-col>
                </ion-row>
            </ion-col>
            <ion-col no-padding col-8>
              <img class="content-imageBig" src="http://156.67.218.250:81{{data.picture}}"/>
            </ion-col>
          </ion-row>
        </div>
      </div>
    </ion-grid> -->
  
</ion-content>
