page-wallpaper {
    .background {
        //background-image: url('../assets/pict/welcome.png');
        background-color: #EC2F38;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .no-scroll .scroll-content{
        overflow-y: hidden;
    }

    .wordNavbar{
        color: #2A3524;
        font-size: 7vw;
        font-weight: 700;

        font-style: italic;
    }

    .choosen {
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 2vh;

        height: 60vh;
        width : auto;
    }

    .choosenName {
        text-align: center;
        color: white;
        // font-size: 18px;
        font-size: 6vw;
        font-weight: 5px;
    }

    .options {
        height: 15vh;
        width : auto;
    }

    ion-scroll {
        width: 100vw;
        display: inline-block;
        margin-bottom: 2vh;
    }

    .scroll-zoom-wrapper{
        white-space: nowrap;
    }
}
