page-events {
    .background {
        //background-image: url('../assets/pict/welcome.png');
        background-color: #EC2F38;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .wordNavbar{
        color: #2A3524;
        font-size: 7vw;
        font-weight: 700;

        font-style: italic;
    }
}
